{% extends "blog/base.html" %}

{% block content %}
<div class="box pt-3 pb-3 pr-4 pl-4">
  <h2>You have been logged out</h2>
  <div class="border-top pt-3">
    <small class="text-muted">
      <a href="{% url 'user-login' %}">Log In Again</a>
    </small>
  </div>
</div>
{% endblock content%}
