{% extends "blog/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="box">
  <h2 class="border-bottom">Change password</h2>
  <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      {{ form|crispy}}
    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-primary" type="submit">Save</button>
    </div>
  </form>
</div>
{% endblock content %}
