{% extends "blog/base.html" %}

{% block content %}
<article class="media box pt-3 pb-4 pr-4 pl-2">
  <img class="rounded-circle user-img mr-2" src="{{ object.image.url }}">
  <div class="media-body">
    <div class="border-bottom">
      {{ object.user.username }}
      <small class="ml-2 text-muted">{{ object.user.date_joined|date:"F d, Y" }}</small>

      {% if object.user == user %}
      <div class="pt-2 pb-2">
        <a class="btn btn-sm btn-outline-warning" href="{% url 'user-profile-edit' object.user.pk %}">Edit</a>
        <a class="btn btn-sm btn-outline-warning" href="{% url 'user-password-change' %}">Change password</a>
      </div>
      {% endif %}
    </div>
      <h2 class="pt-2">About me</h2>
      <p class="pt-2">{{ object.info }}</p>
  </div>
</article>
{% endblock content %}
