{% extends "blog/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="box">
  <h2 class="border-bottom">Edit Profile</h2>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="form-group">
      {{ form|crispy}}
    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-primary" type="submit">Save</button>
    </div>
  </form>
</div>
{% endblock content %}
{% block javascript %}
<script>
  // Just fix styling of image field
  $(function() {
    $('.custom-file-label').remove();
    $('.custom-file').removeClass('custom-file');
    $('#id_image').removeClass('clearablefileinput form-control custom-file-input').addClass('form-control-file');
  });
</script>
{% endblock javascript%}
