{% extends "blog/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="box pt-3 pb-3 pr-4 pl-4">
  <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group border-bottom">
      <h2>Register</h2>
    </fieldset>
    {{ form|crispy }}
    <button class="btn btn-outline-primary" type="submit">Create account</button>
  </form>
</div>
{% endblock content %}
