{% extends "blog/base.html" %}

{% block content %}
<div class="box pt-3 pb-3 pr-4 pl-4">
  <h2>Django demo project</h2>
  <p class="pt-3">Just a simple django blog app.</p>
</div>
{% endblock content%}
