{% extends "blog/base.html" %}

{% block content %}
  {% for object in object_list %}
  <article class="media box pt-3 pb-4 pr-4 pl-2 mb-3">
    <img class="rounded-circle user-img mr-2" src="{{ object.author.profile.image.url }}">
    <div class="media-body">
      <div class="border-bottom">
        <a class="mr-2" href="{% url 'user-profile' object.author.pk %}">{{ object.author }}</a>
        <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
      </div>
        <h2 class="pt-2"><a href="{% url 'post-detail' object.id %}">{{ object.title }}</a></h2>
        <p class="pt-2">{{ object.content|truncatechars:250 }}</p>
    </div>
  </article>
  {% endfor %}

  {% if is_paginated %}
    <div class="mb-4 text-center">
      {% if page_obj.has_previous %}
        <a class="btn btn-outline-primary" href="?page=1">First</a>
        <a class="btn btn-outline-primary" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-primary" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-primary" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-primary" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-primary" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}
    </div>
  {% endif %}
{% endblock content %}
