{% extends "blog/base.html" %}

{% block content %}
<article class="media box pt-3 pb-4 pr-4 pl-2">
  <img class="rounded-circle user-img mr-2" src="{{ object.author.profile.image.url }}">
  <div class="media-body">
    <div class="border-bottom">
      <a class="mr-2" href="{% url 'user-profile' object.author.pk %}">{{ object.author }}</a>
      <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>

      {% if object.author == user %}
      <div class="pt-2 pb-2">
        <a class="btn btn-sm btn-outline-warning" href="{% url 'post-update' object.pk %}">Edit</a>
        <a class="btn btn-sm btn-outline-danger" href="{% url 'post-delete' object.pk %}">Delete</a>
      </div>
      {% endif %}
    </div>
      <h2 class="pt-2">{{ object.title }}</h2>
      <p class="pt-2">{{ object.content }}</p>
  </div>
</article>
{% endblock content %}
